body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}


/* If you need to have a sentence/words in uppercase it's better to use this css property than put in hardcoded
in the html code cos that's really a bad practice */
.uppercase {
    text-transform: uppercase;
}

.title {
    font-weight: bold;
}

/* Remove the circle things for the list */
li {
    list-style: none;
}

/* I' using just one class so you can change the size for every box in once */
.rec {
    height: 3px;
    width: 40%;
    margin: 10px auto 20px auto;

}

.orange {
    background: #ff6666;
}

.green {
    background: #66FF99;
}

.green-font {
    color: #66FF99;
    font-size: 1.5em;
    font-weight: bold;
}

.tray-layer-color-font {
    color: #ff6950;
}

.tray-layer-color {
    background: #ff6950;
}


/*

/* Homepage */


#homepage {
    height: 100%;
}

#homepage {
    position: relative;
}

#homepage .col-lg-6:first-child {
    padding-left: 0;
}

#homepage:nth-child(1) {
    text-align: right;
}

#homepage h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
}