/* So since I'm very lazy I used this (in dev one of the first thing to learn it's do don't invent
things that already exist)
http://www.samrayner.com/bootstrap-side-navbar/
*/


/* So it's where bootstrap is a bit annoying you need to override the value (that's not the most proper way to do it)
 Cos you can customize bootstrap and add your own colors there http://getbootstrap.com/customize/
 which means you will not have to override this value in your css and that's cool :D (but just some people use it xD)
 */
.navbar {
    background-color: #fffff9;
    box-shadow: 1px 0px 5px #888;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    line-height: 1.5rem;
    font-size: 18px;
    font-weight: 600;
}

/*.navbar ul li .submenu {
    width: 100%;
    padding: 0;
}

.navbar ul li .submenu li {
   padding-left: 40px;
}*/

/*.navbar ul li .submenu li:hover {
    background-color: red;
}*/

.navbar ul li .submenu a {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}


.navbar-fixed-side .navbar-nav>li>a {
    border-bottom: 0;
}

.navbar-default .navbar-nav>li>a  {
    color: black;
}