html, body,img,div,p,span,strong,ul,li,dl,dt,dd,h1,h2,h3,h4,i,em,a,nav,section,banner,svg,path,text{ padding:0; margin:0;}
html,body{ height:100%; font-size:20px;}
ul,li{ list-style:none;}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/*************************************
font
**************************************/
a{ color:#000; text-decoration:none;}
p, a,div,text {
	font-family:'Source Sans Pro',Arial, sans-serif;
	color: black;
}

a:link,a:visited {
	color: black;
}
a:hover {
	background-color: #f7f7f7;
}

.pos_R{ position:relative}
.pos_A{ position:absolute}
.fl{ float:left;}
.fr{ float:right;}
.mr_1{ margin-right:.5rem;}
.mt2{ margin-top:2rem;}
.mt4{ margin-top:4rem;}
.mt_big{ margin-top:1rem;}
/*************************************
NAVIGATION
**************************************/
.nav {
	position: fixed;
	top: 0;
	bottom:0;
	width: 18%;
	background-color: #fffff9;
	box-shadow: 1px 0px 5px #888;
	display: block;
	overflow-y:scroll; 
	padding: 30px 0px;
	z-index:100; 
}

.nav ul li a {
	text-decoration: none;
	display: block;
	padding-left: 1rem;
	line-height:1.5rem;
	font-size: 18px;
	font-weight: 600;
}

.nav .navcon{ padding-bottom:2rem;}

.nav ul li .submenu a {
	padding-left: 50px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}


/********************************
CONTENT
********************************/
.content { clear:both;
	height: 100%;
	width:100%;
	display: block;
	padding-top: 0px;

}

.centered-title {
	font-size: 2rem;
	line-height:2.4rem;
	font-weight: 600;
	padding: 1rem;
	text-align: center;
	margin: 0;
}

.centered-text {
	font-size: 0.8rem;
	line-height:1rem;
	font-weight:400;
	text-align: center;
	margin: 1rem;
}

.title {
	font-size: 2rem;
	line-height:2.4rem;
	font-weight: bold;
	text-align:left;
}

.text,.textC{
	font-size:0.8rem;
	line-height:.9rem;
	font-weight:500;
	text-align:left;
}
.textC{ text-align:center;}

.con_w{ 
	width:80%; 
	margin:0 auto;
}
.clear{ clear:both;}
