/********************************
Homepage
********************************/
#homepage{ background:url(../img/homepage_bg.png) no-repeat; background-size:contain;}
#homepage img{
	display: block;
	line-height: 0;
	float: right;
	width: 100%;
	padding-top: 0px;
	margin: 0;
}

#homepage p{ text-align:left;
	padding-top: 40%;
	padding-left: 2%;
	font-size: 4rem;
	font-weight: bold;
}
/********************************
LINKS
********************************/
.links_logo{
	position: absolute;
	top:2rem;
	right:4rem;
	text-align:center;
}

/********************************
P1
********************************/
#p1container {
	position: relative;
}

.rec {
	height: .5rem;
	width: 40%;
	margin: 0 auto;
	background: #ff6666;

}

/********************************
P2
********************************/
.p2container{
	position: relative;
  	/*top: 50%;*/

}
.rec2 {
	background: #66FF99;
}

.p2container .p2ft {
	width: 70%;
	margin: 3rem auto 0;
}

/********************************
P3 Overview
********************************/
#p3container{
	padding:2% 10% 0;
	position: relative;
}
#p3container .left{ width:40%; float:left; text-align:left; }
#p3container .p3img {
	margin-left:5%;
	margin-top:10%;
	float:right; width:55%;

}
#p3container .p3gif{ width:80%;}
#p3container .text{ font-size:.7rem; line-height:.8rem}

#p3container .p3para{
	position: absolute;
	top:3rem;
	right: 0rem;
}
#p3container .p3para p {
	margin-top: 3rem;
}

/********************************
P4 desktop layer
********************************/

#p4bg { position:relative;
	height: 100%;
	width:100%;
	background: #66FF99;
}
.deskleft{ width:26.5%; height:100%; 
	float:left; position:absolute; left:0;
	background:#fff;
}
.bgcon{ position:absolute; width:95%; 
	left:14%;
	z-index:4;
	height:100%;}
.bgcon .title{
	font-size:2rem;
	color: #66FF99;
	padding: 1rem 0 0 1rem;
	position: relative;	
	height: 66%;
	width:33.3333%;
	border: .4rem solid black;
	background: white;
	box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box;
	z-index: 2;
	top: 4rem;
	left:0;
}
.bgcon .text{ width:18%; position:absolute; bottom:22%; left:38%; z-index:5;}

/********************************
P5 Tray layer
********************************/
#p5bg { position:relative;
	height: 100%;
	width:100%;
	background: #ff6950;
}
#p5bg .bgcon .title{ color:#ff6950;}


/********************************
P6 Trays' styles
********************************/

#p6bg { text-align:center;
	width: 100%;
	height: 50%;
	background-color: #99CCFF;
	z-index:1;
	position:relative; 
	top:-25%;
}

#p6bg .title {
	padding-top:6rem;
	padding-left:10%;
	 text-align:center;
}
#p6bg .text{text-align:center;}
.col3{ margin-top:3rem; max-width:35rem; margin-left:auto; margin-right:auto;
	display:-webkit-flex; 
	display: flex;
}
.col3 li {
	float:left; 
	z-index: 1;
	text-align:center;
	-webkit-flex:1; flex:1;
}



/********************************
P7  GIF Trays' styles
********************************/
#p7{height:100%;max-width:18.6rem; margin:0 auto}
#p7 img{ width:100%; }

/********************************
P8 Spacing
********************************/
.p8spacing{ padding-left:4rem;}
.p8spacing .p8con{
	width:16rem; margin:0 auto;
}
.p8spacing .title {
	margin-bottom:1rem;
	text-align:center;
}

.p8spacing img{ width:100%;}
.p8para {
	width:10rem;
	margin-top: -20rem;
	position:absolute;
	left:10%;
	text-align:left;
}

.p8para .icon {
	width: 50px;
	height: 50px;
}

/********************************
P9 tearoff
********************************/


/********************************
P10 Gadget Layer
********************************/

.p10bg { position:relative;
	height: 100%;
	width:100%;
	background:#FFF988;
}
.p10bg .bgcon .title{ color:#FFF988; background:#000}

/********************************
P11 Image Crop
********************************/
.p11bg .text{ margin-top:2rem; text-align:center}
/********************************
P12 Text
********************************/
.p12con{width:80%; margin-right:auto; margin-left:auto;
	text-align:center;
}

/********************************
P13 Buttons
********************************/
.p13buttons .text{ text-align:center;}

/********************************
P16 Layout Rules
********************************/
#Layout{ height:100%;}
#Layout .title{ width:100%;
	left:10%;
	top:50%;
	font-size:4rem;
	line-height:4rem;
	margin-top:-2rem;
}

#SafeArea .pos_A,#Balance .pos_A{ left:5%; top:10%;}

/********************************
P20 Separate text from images
********************************/
#Separate .fl{ width:50%; margin-right:6%;}
#Separate .fr{ width:30%; float:left}

/********************************
P21 3 Elements In One Row
********************************/
.composition_l{ width:50%; text-align:left; float:left;}
.composition_r{width:40%; float:right;}

/********************************
P22 Color
********************************/
.colorBg{ background:#99ccff; width:30%; height:100%; position:absolute; left:0; z-index:-1;}
.circle{ width:80%; margin-left:auto; margin-right:auto; overflow:hidden;}
.circle1,.circle2{ display:block;width:12.8rem;height:12.8rem; border-radius:50%; border:.15rem solid #000;}
.circle1{ background:#000;}

/*swiper*****************/
.swiper-container {
    width: 82%;
    height: 100%;
	float:right;
}
.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}