.iconNav{width:2.5rem; height:2.5rem;
	position:fixed; 
	z-index:1000;
	top:.4rem;
	left:.4rem;
	cursor:pointer;
	display:none;
}
.iconNav img{ width:100%;}
.iconClose{ display:none;}

@media (max-width:1024px){
/********************************
P22 Color
********************************/
.circle1,.circle2{width:10.5rem;height:10.5rem;}	
}
@media (max-width:640px){
.swiper-container {
    width:100%;
}
.iconNav{ display:block;}
.nav{
	width:auto;
	top:.4rem;
	left:-100%;
	bottom:auto;
	width:2rem;
	height:2rem;
	background-color: #fffff9;
	box-shadow:none;
	display: block;
	overflow-y:visible; 
	padding:0px;
	transition:all .5s ease;
}
/*.nav .navcon{ display:none;}*/

.navAfter{
	width:100%; height:100%;
	top:0;
	left:0;
	bottom:0;
	overflow-y:scroll;
	overflow-x:hidden;
	padding:1.5rem 0;
}

.iconClose{ position:absolute; right:.4rem; top:.4rem; 
	width:2rem;
	height:2rem;
	cursor:pointer;
	display:block;
}

#homepage p{ font-size:4rem;}

/********************************
CONTENT
********************************/

.content {
	width: 100%;

}

/********************************
P2
********************************/
.p2container .p2ft {
	width: 100%;
	margin-top:1rem;	
}

/********************************
P3 Overview
********************************/
#p3container{
	padding:2% 5% 0;
}
#p3container .left{ float:none; width:100%;}

#p3container .p3gif{ width:70%;}
#p3container .mt_big{ margin-top:0;}

/********************************
P8 Spacing
********************************/
.p8spacing{ padding-left:0;}
.p8spacing .p8con{
	width:80%;
}

.p8para {
	margin: 1rem auto 0;
	width:13rem;
	position:static;
    left:auto;
}

.p8para .text{width:10rem; float:left; margin-top:.3rem;}
.p8para .icon {
	float:left;
	margin-right:.6rem;
	width: 2rem;
	height: 2rem;
}

.deskleft{ width:30%;}
.bgcon{ width:100%;left:0;}
.bgcon .title{ width:52%;padding:.5rem 0.5rem 0 }
.bgcon .text{ left:55%; width:35%;}


.con_w{ width:90%;}

/********************************
P6 Trays' styles
********************************/
#p6bg .title {
	padding-top:4rem;
	padding-left:0;
}

.p8spacing img{ width:80%;}

/********************************
P11 Image Crop
********************************/
.p12con{width:100%;}


/********************************
P20 Separate text from images
********************************/
#Separate .fl{ width:100%; margin-right:0;}
#Separate .fr{ width:100%;}	
#Separate .fl img{ width:70%;}

/********************************
P21 Separate text from images
********************************/
.composition_l{ width:100%; text-align:left;}
.composition_r{width:80%; margin:0 auto; float:none;}
.composition_l .mt2{ margin-top:.5rem; text-align:center}

/********************************
P21 Composition
********************************/

#Composition .mt2{ margin-top:.5rem;}
.composition_r{ width:70%;}

/********************************
P22 Color
********************************/
.circle{ width:90%;}
.circle1,.circle2{width:7rem;height:7rem;}
}

@media (max-width:320px){
/********************************
P8 Spacing
********************************/

.circle{ width:100%;}
.circle1,.circle2{width:6rem;height:6rem;}
	
}


