/********************************
General
********************************/

ul, li, nav {
    padding: 0;
    margin: 0
}

html, body {
    font-size: 20px; /* Should use em I think the font size in the different section is probably too big */
}

ul, li {
    list-style: none;
}

.img-center {
    margin:0 auto;
}


/*************************************
font
**************************************/

a {
    color: #000;
    text-decoration: none;
}

p, a, div, text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: black;
}

a:link, a:visited {
    color: black;
}

a:hover {
    background-color: #f7f7f7;
}

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: black;
}



/********************************
Header and classic useful class
********************************/

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

/* If you need to have a sentence/words in uppercase it's better to use this css property than put in hardcoded
in the html code cos that's really a bad practice */
.uppercase {
    text-transform: uppercase;
}

.title {
    font-weight: bold;
}

/* I' using just one class so we can change the size for every box in once */
.rec {
    height: 3px;
    width: 40%;
    margin: 10px auto 20px auto;

}

.orange {
    background: #ff6666;
}

.green {
    background: #66FF99;
}

.green-font {
    color: #66FF99;
    font-size: 1.5em;
    font-weight: bold;
}

/********************************
LAYERS (for now that's the most tricky part of the website), check the tray part for more information
********************************/

.container-box {
    position: relative;
    min-height: 75%;
    height: 75%;
    top: 12.5%;
}

.container-box .box {
    position: absolute;
    width: 200px;
    height: 100%;
    left: calc(33.33333333% + 100px);
    left: -webkit-calc(33.33333333% + 100px);
    z-index: 10;
}

.container-box .box h2 {
    margin: 10px 0 0 10px;
}

.container-box .text {
       position: absolute;
    bottom: 0;
    left: calc(33.33333333% + 300px);
    left: -webkit-calc(33.33333333% + 300px);
    z-index: 10;
    width: 100%;
    margin: 0 0 0 10px;
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;

}


/********************************
Hompage
********************************/

#homepage {
    position: relative;
    height: 100%;
}
/* Since I'm very lazy I'm using the child selector here I select the first child of #homepage .col-lg-6
so I don't create a class or an id for this case */
#homepage .col-lg-6:first-child {
    padding-left: 0;
}

#homepage:nth-child(1) {
    text-align: right;
}

#homepage h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/********************************
Desktop
********************************/
#desktop {
    height: 100%;
    min-height: 100%;
}

#desktop .col-md-4 {
    height: 100%;
    min-height: 100%;
}

#desktop .col-md-8 {
    background-color: dodgerblue;
    height: 100%;
    min-height: 100%;
}

#desktop .col-md-4 h2 {
    color: dodgerblue;
}

#desktop .container-box .box {
    background-color: white;
    border: 5px solid black;
}



/********************************
Tray
********************************/
/* So this is an example following the design for the tray (so you can see the problem
 On your design you have a box over another element so to do this we need to position our elements in specific position

 First I separate the screens in two part on of the left (the white background) and on the right (the orange background)

 After I have a class .container-box which contains the box and the text I apply a position:relative on it
 In this class I separate it in two .box et .text on those two classes I apply a position: absolute

 So since the parent class is in position:relative and the child in position absolute it means the childs depend
 of the position of the parent. The origin is the top left of the parent


So the bug we have and it's why I need to have a scrollbar when the height is too small.
So on this example you can see (by removing the overflow-x:scroll see the layers section)
that if the content is bigger than the container (the screen) it will overlap over section.

Doing fullscreen mode is cool but because of responsive you will have some strong limitations
So for now I can solve the responsive problem but I can't put the text at the bottom of the square
 */

#tray {
    height: 100%;
    min-height: 100%;
}

#tray .col-md-4 {
    height: 100%;
    min-height: 100%;
}

#tray .col-md-8 {
    background-color: orange;
    height: 100%;
    min-height: 100%;
}

#tray .col-md-4 h2 {
    color: orange;
}

#tray .container-box .box {
    background-color: white;
    border: 5px solid black;
}

/********************************
TrayStyle
********************************/
/* TrayStyle */
/*
#tray-style {
    height: 100%;
    min-height: 100%;
}

#tray-style .part-one {
    height: 50%;
    min-height: 50%;
    background: blue;
    position: relative;
}

#tray-style .container-rectangle {
    position: absolute;
    top: 0;
    left: 50%;
    height: 20%;
}

#tray .container-rectangle .left-rectangle {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background: red;
}*/


/*
.container-rectangle .col-md-4 {
    width: 200px;
    height: 200px;
    background: purple;
}*/



/********************************
Gadget
********************************/
#gadget {
    height: 100%;
    min-height: 100%;
}

#gadget .col-md-4 {
    height: 100%;
    min-height: 100%;
}

#gadget .col-md-8 {
    background-color: yellow;
    height: 100%;
    min-height: 100%;
}

#gadget .col-md-4 h2 {
    color: yellow;
}

#gadget .container-box .box {
    background-color: white;
    border: 5px solid black;
}

/* Layout Rules */
/*
#layout-rules {
    height: 100%;
    min-height: 100%;
    background-color: red;

}*/

/*
#layout-rules {
    width: 100%;
    height: 100%;
    background: rgba(248, 80, 50, 1);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, grey), color-stop(52%, grey), color-stop(52%, red), color-stop(52%, red), color-stop(100%, red));
    background: -moz-gradient(linear, left top, right bottom, color-stop(1%, grey), color-stop(52%, grey), color-stop(52%, red), color-stop(52%, red), color-stop(100%, red));
    background: -o-gradient(linear, left top, right bottom, color-stop(1%, grey), color-stop(52%, grey), color-stop(52%, red), color-stop(52%, red), color-stop(100%, red));
    background: gradient(linear, left top, right bottom, color-stop(1%, grey), color-stop(52%, grey), color-stop(52%, red), color-stop(52%, red), color-stop(100%, red));
}*/