@media (max-width: 768px) {

    h1 {
        font-size: 4.5em;
    }

    /*
So that's a bit dirty I'll explain to you later.
It's for debugging cos bootstrap is applying a padding and in responsive mode a section is buggy
*/
    .col-xs-offset-0 {
        padding: 0;
    }


    /* Tray Style */
    #tray-style .tray-style-top {
        height: 100%;
        min-height: 100%;
        background-color: #99CCFF;
        position: relative;
    }

    #tray-style .tray-style-bottom {
        display: none;
    }


    #tray-style .tray-style-top .container-rectangles {
        position: absolute;
        top: 25%;
        width: 100%;
        height: 50%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #tray-style .tray-style-top .container-rectangles .left-rectangle {
        width: 20%;
        height: 100%;
        z-index: 10;
        float: left;
        border: 2px solid black;
    }


    #tray-style .tray-style-top .container-rectangles .middle-rectangle {
        width: 20%;
        height: 100%;
        z-index: 10;
        float: left;
        border: 2px solid black;
        border-radius: 10px;
    }


    #tray-style .tray-style-top .container-rectangles .right-rectangle {
        width: 15%;
        height: 125%;
        z-index: 10;
        float: left;
        margin-top: -1%;
        border: 2px solid black;
    }

    #tray-style .tray-style-top .container-legend {
        position: absolute;
        top: 80%;
        width: 100%;
        height: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }

}